body{
margin:0;
padding:0;
background:#0b0b0b;
font-family:Arial;
color:white;
}

.container{
max-width:520px;
margin:auto;
padding:18px;
}

.topbar{
display:flex;
justify-content:flex-start;
margin-bottom:12px;
}

.card{
background:#151515;
padding:16px;
border-radius:18px;
margin-bottom:15px;
}

.assetRow{
display:flex;
justify-content:space-between;
align-items:center;
}

.assetInfo{
display:flex;
align-items:center;
gap:10px;
}

.tokenLogo{
width:38px;
height:38px;
border-radius:50%;
}

.inputBox{

width:100%;
padding:14px;
margin-top:14px;
border:none;
border-radius:12px;
background:#222;
color:white;
font-size:16px;
box-sizing:border-box;

}

.buttonRow{
display:flex;
gap:10px;
margin-top:12px;
}

.mainBtn,
.actionBtn,
.backBtn{
border:none;
border-radius:12px;
padding:12px;
font-weight:bold;
cursor:pointer;
}

.mainBtn{
background:#00ff88;
color:black;
}

.actionBtn{
background:#222;
color:white;
flex:1;
}

.backBtn{
background:#222;
color:white;
margin-bottom:15px;
}

#trxBalance{
font-size:34px;
margin-top:15px;
}

.sectionTitle{
margin-top:20px;
margin-bottom:12px;
}

.assetCard{
cursor:pointer;
}

.chartWrap iframe{
width:100%;
height:450px;
border:none;
border-radius:18px;
background:#111;
}

#txList .card{
background:#111;
}

.toast{
position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);
background:#ff3b3b;
padding:12px 18px;
border-radius:12px;
z-index:99999;
}

.hidden{
display:none;
}

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
z-index:999;
overflow:auto;
}

.modalContent{
padding:20px;
}

.qrWrap{
text-align:center;
margin-top:20px;
}

#qrCode{
width:230px;
background:white;
padding:10px;
border-radius:18px;
}

#walletAddress{
word-break:break-all;
margin-top:15px;
}

.pendingRow{
display:flex;
align-items:center;
gap:10px;
margin-top:15px;
}

.spinLoader{
width:22px;
height:22px;
border:3px solid #333;
border-top:3px solid #00ff88;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}

•pendingStatus{
display:flex;
align-items:center;
gap:10px;
margin-top:12px;
margin-bottom:12px;
}
•senderWrap{
display:flex;
align-items:center;
gap:10px;
margin:15px 0;
word-break:break-all;
}
  
•copyIconBtn{
background:none;
border:none;
color:white;
cursor:pointer;
}
